@model CoreMVC1.Models.Catalog.AssetIndexModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalog</title>
</head>
<body>

    <div id="assets">
        <h3>Library Catalog</h3>
        <div id="assetsTable">
            <table class="table table-condensed" id="catalogIndexTable">
                <thead>
                    <tr>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>*@
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Author/Director
                        </th>
                        <th>
                            Dewey Cal NUmber
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var asset in Model.Assets)
                    {
                        <tr class="assetRow">
                           
                            <td>
                                <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                    <img src="@asset.ImageUrl" class="img-thumbnail" />
                                </a>
                            </td>
                            <td class="">
                                @asset.Title
                            </td>
                            <td>
                                @asset.AuthorOrDirector
                            </td>
                            <td>
                                @asset.DeweyCallNumber
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
